.info {
  width: 60%;
  margin: 0 auto;
  padding-top: 201px;
  padding-bottom: 191px;
  display: flex;
  justify-content: center;
  gap: 41px;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.leftInfo span:first-of-type {
  font-weight: 700;
  font-size: 23pt;
}

.leftInfo span:last-of-type {
  font-size: 15pt;
}

.infoButton {
  display: flex;
  gap: 20px;
}
