@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Quicksand:wght@400;700&family=Roboto:wght@500;900&display=swap");
:root {
  --font-family: "Quicksand", sans-serif;
  --font-family-navbar: "Lato", sans-serif;
  --font-family-footer: "Roboto", sans-serif;

  /* onedna color pallete */
  --color-blue: #2093be;
  --color-blue-dark: #157599;
  --color-blue-light: #2eb3e5;
  --color-grey: #efefef;
  --color-grey-dark: #eaeaea;
  --color-grey-light: #f3f3f3;
  --color-white: #ffffff;
  --color-black: #3f3f3f;
  --color-red: #da2525;
  --color-yellow: #ccbc29;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  min-width: 1100px;
  font-size: 15pt;
  font-weight: 400;
  line-height: 1.25;
  color: var(--color-black);
  font-family: var(--font-family), var(--font-family-navbar);
  background-color: var(--color-grey-light);
  margin: 0;
}
